{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "parser": "babel-eslint",
  "rules": {
  "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  "jsx-ally/href-no-hash": [0],
  "react/forbid-prop-types": [0]
  }
}
